/* line 3, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
body {
  background-color: #F4F0FF;
}

/* line 8, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
header .navbar-inverse {
  background-color: #1B0D45;
}
/* line 11, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
header .navbar-inverse li.active a {
  background-color: #291B54 !important;
}

/* line 18, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
p .comment {
  background-color: #f4f0ff;
  padding: 7px 10px 10px 10px;
  border-radius: 5px;
  width: 400px;
  text-align: right;
}
/* line 25, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
p .comment > span {
  float: left;
  margin-top: 7px;
  font-size: 1.2em;
}

/* line 33, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.field {
  margin-top: 20px;
}

/* line 37, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.panel-primary > .panel-heading {
  background-color: #3C2D67;
  border-color: #1B0D45;
}

/* line 42, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.panel-primary {
  border-color: #DBD3EF;
}

/* line 46, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
#panel-login .panel-heading {
  text-align: center;
  font-size: 2.2em;
}

/* line 51, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.panel-body {
  background-color: rgba(244, 240, 255, 0.32);
}

/* line 55, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
#panel-login {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* line 61, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
#btn-login {
  width: 100%;
  margin-top: 10px;
}

/* line 66, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.btn.btn-primary {
  background-color: rgba(60, 45, 103, 0.86);
  border-color: #DBD3EF;
}

/* line 71, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.btn.btn-primary:HOVER {
  background-color: rgba(60, 45, 103, 0.66);
  border-color: #DBD3EF;
}

/* line 76, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
input[type="checkbox"].form-control {
  width: 34px;
}

/* line 80, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  background-color: #7f73a1;
}

/* line 84, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.actions {
  margin-top: 10px;
}

/* line 88, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.actions > .btn.btn-default, .input-group > .btn.btn-default,
.actions > .btn.btn-warning, .input-group > .btn.btn-warning,
.actions > .btn.btn-info, .input-group > .btn.btn-info,
.actions > .btn.btn-danger, .input-group > .btn.btn-danger {
  width: 100px;
}

/* line 95, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.actions > .btn.btn-primary, .input-group > .btn.btn-primary {
  width: 150px;
}

/* line 99, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.btn-full {
  width: 100% !important;
}

/* line 103, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.btn-radius-right {
  border-radius: 0px 4px 4px 0px;
}

/* line 107, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.btn-no-radius {
  border-radius: 0px;
}

/* line 111, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.comment_item {
  padding-bottom: 20px;
  border-bottom: 1px solid #dddddd;
  padding-top: 5px;
}

/* line 118, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.btn-edit-job, .btn-delete-job {
  float: left;
}

/* line 122, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
div.comment_item > .comment_body {
  font-size: 1.1em;
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.17);
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #dddddd;
}

/* line 132, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
div.comment_item > .comment_header {
  font-size: 1.4em;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

/* line 140, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 144, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.onoffswitch-checkbox {
  display: none;
}

/* line 147, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

/* line 151, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

/* line 156, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 161, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #34A7C1;
  color: #FFFFFF;
}

/* line 166, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

/* line 172, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

/* line 180, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

/* line 183, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/main.scss */
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* ========================================================================
 * bootstrap-switch - v3.3.2
 * http://www.bootstrap-switch.org
 * ========================================================================
 * Copyright 2012-2013 Mattia Larentis
 *
 * ========================================================================
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================================
 */
/* line 22, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch {
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  border-color: #cccccc;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* line 42, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch .bootstrap-switch-container {
  display: inline-block;
  top: 0;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 49, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  height: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}

/* line 62, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  text-align: center;
  z-index: 1;
}

/* line 67, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #428bca;
}

/* line 72, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #5bc0de;
}

/* line 77, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #5cb85c;
}

/* line 82, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: #f0ad4e;
  color: #fff;
}

/* line 87, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #d9534f;
}

/* line 92, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #000;
  background: #eeeeee;
}

/* line 97, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch .bootstrap-switch-label {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 100;
  color: #333333;
  background: #ffffff;
}

/* line 105, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

/* line 109, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 113, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
}

/* line 122, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch input[type='radio'].form-control,
.bootstrap-switch input[type='checkbox'].form-control {
  height: auto;
}

/* line 126, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}

/* line 133, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

/* line 140, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.33;
}

/* line 147, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-readonly,
.bootstrap-switch.bootstrap-switch-indeterminate {
  cursor: default !important;
}

/* line 152, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}

/* line 165, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}

/* line 169, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 175, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

/* line 181, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch.bootstrap-switch-focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* line 187, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 192, /home/leonardo/dev/workspaces/ruby/rails/job_board/app/assets/stylesheets/base/switch.scss */
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
