@import 'colors';

body {
  background-color: $background-color;
}

header {
  .navbar-inverse {
    background-color: $nav-color;

    li.active a {
      background-color: $nav-link-color !important;
    }
  }
}

p {
  .comment {
    background-color: rgb(244, 240, 255);
    padding: 7px 10px 10px 10px;
    border-radius: 5px;
    width: 400px;
    text-align: right;

    > span {
      float: left;
      margin-top: 7px;
      font-size: 1.2em;
    }
  }
}

.field{
  margin-top: 20px;
}

.panel-primary>.panel-heading{
  background-color: #3C2D67;
  border-color: #1B0D45;
}

.panel-primary{
  border-color: #DBD3EF;
}

#panel-login .panel-heading{
  text-align: center;
  font-size: 2.2em;
}

.panel-body{
  background-color:rgba(244, 240, 255, 0.32);
}

#panel-login{
  width:400px;
  margin-left:auto;
  margin-right:auto;
}

#btn-login{
  width: 100%;
  margin-top: 10px;
}

.btn.btn-primary {
  background-color: rgba(60, 45, 103, 0.86);
  border-color: #DBD3EF;
}

.btn.btn-primary:HOVER {
  background-color: rgba(60, 45, 103, 0.66);
  border-color: #DBD3EF;
}

input[type="checkbox"].form-control{
  width:34px;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary{
  background-color: rgba(127, 115, 161, 1);
}

.actions {
  margin-top: 10px;
}

.actions>.btn.btn-default, .input-group>.btn.btn-default,
.actions>.btn.btn-warning, .input-group>.btn.btn-warning,
.actions>.btn.btn-info, .input-group>.btn.btn-info,
.actions>.btn.btn-danger, .input-group>.btn.btn-danger{
  width:100px;
}

.actions>.btn.btn-primary, .input-group>.btn.btn-primary{
  width:150px;
}

.btn-full{
  width: 100% !important;
}

.btn-radius-right{
  border-radius: 0px 4px 4px 0px;
}

.btn-no-radius{
  border-radius: 0px;
}

.comment_item {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding-top: 5px;
}


.btn-edit-job, .btn-delete-job {
  float: left;
}

div.comment_item > .comment_body {
  font-size: 1.1em;
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.17);
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid rgb(221, 221, 221);
}

div.comment_item > .comment_header {
  font-size: 1.4em;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}